<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Number</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% @contacts.each do |d|%>
            <tr>
                <td><%= d.id%></td>
                <td><%= d.full_name%></td>
                <td><%= d.email%></td>
                <td><%= d.number%></td>
                <td><%= d.created_at%></td>
            </tr>
            <%end%>
        </tbody>
    </table>
</div>