<div class="d-flex flex-row-reverse bd-highlight m-3">
<button class="btn btn-outline-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">New Admission</button>
</div>


<section >
  <div class="container">
          <% @admissions.each do |data|%>
          <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading_<%= data.id%>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_<%= data.id%>" aria-expanded="false" aria-controls="flush-collapse_<%= data.id%>">
          <%= "#{data.name} #{data.email}"%>
        </button>
      </h2>
      <div id="flush-collapse_<%= data.id%>" class="accordion-collapse collapse" aria-labelledby="flush-heading_<%= data.id%>" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container">
            <h1>Student <%= data.name%>-(<%= data.id%>) Report</h1>
            <div class="d-flex justify-content-around border p-3 m-3">
              <div class="p-4 border">
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Batch</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">2023-24</td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Name</th>
                      <td class="border border-2 border-info text-center bg-light text-danger"><%= data.name%></td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Student Code</th>
                      <td class="border border-2 border-info text-center bg-light text-danger"><%= data.id%></td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Category</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">obc</td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Fater's Name</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">Ram</td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Mother's Name</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">Sita</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="p-4 border">
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">city</th>
                      <td class="border border-2 border-info text-center bg-light text-danger"><%= data.city%><span class="text-dark">(dd/mm/yyyy)</span></td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Sex</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">M</td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">State</th>
                      <td class="border border-2 border-info text-center bg-light text-danger"><%= data.state%></td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">peen</th>
                      <td class="border border-2 border-info text-center bg-light text-danger"><%= data.peen%></td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">klass</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">(R)<%= data.klass%></td>
                    </tr>
                    <tr>
                      <th class="row text-light border-info border border-2 bg-secondary">Reg. No.</th>
                      <td class="border border-2 border-info text-center bg-light text-danger">A/23/<%= data.id%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-4">
                  <tbody>
                    <tr>
                      <th><%=data.name%></th>
                    </tr>
                    <tr>
                      <td>
                        <%#= data.image%>
                        <%= image_tag data.image, class: "rounded mx-auto d-block ",width: "200px" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <%= link_to "edit",edit_admission_path(data),class: "btn btn-lg btn-outline-success m-3"%>
          <%= button_to "delete",admission_path(data),method: :delete,turbo_confirm: "Are you sure?",class: "btn btn-lg btn-outline-danger m-1"%>

        </div>
      </div>
    </div>
    <%end%>
  </div>
</section>




<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= form_with(model: @admission , local: true) do |f|%>
      <div>
        <%= f.label "first_name",class: "m-2"%>
        <%= f.text_field "first_name",class: "form-control form-control-lg"%>
        <% @admission.errors.full_messages_for(:first_name).each do |massage|%>
          <p><%= massage%></p>
        <%end%>
      </div>
      <div>
        <%= f.label "last_name",class: "m-2"%>
        <%= f.text_field "last_name",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "email",class: "m-2"%>
        <%= f.text_field "email",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "number",class: "m-2"%>
        <%= f.text_field "number",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "class",class: "m-2"%>
        <%= f.text_field "klass",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "address",class: "m-2"%>
        <%= f.text_field "address",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "address2",class: "m-2"%>
        <%= f.text_field "address2",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "city",class: "m-2"%>
        <%= f.text_field "city",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "state",class: "m-2"%>
        <%= f.text_field "state",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label "peen",class: "m-2"%>
        <%= f.text_field "peen",class: "form-control form-control-lg"%>
      </div><div>
        <%= f.label :imgae,class: "m-2"%>
        <%= f.file_field :image,class: "form-control form-control-lg"%>
      </div>
      <%= f.submit class: "btn btn-primary m-2"%>
    <%end%>
  </div>
  
</div>