<div class="container">
	<h1>Student <%= @admission.name%>-(<%= @admission.id%>) Report</h1>
	<div class="d-flex justify-content-around border p-3 m-3">
		<div class="p-4 border">
			<table class="table">
				<tbody>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Batch</th>
						<td class="border border-2 border-info text-center bg-light text-danger">2023-24</td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Name</th>
						<td class="border border-2 border-info text-center bg-light text-danger"><%= @admission.name%></td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Student Code</th>
						<td class="border border-2 border-info text-center bg-light text-danger"><%= @admission.id%></td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Category</th>
						<td class="border border-2 border-info text-center bg-light text-danger">obc</td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Fater's Name</th>
						<td class="border border-2 border-info text-center bg-light text-danger">Ram</td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Mother's Name</th>
						<td class="border border-2 border-info text-center bg-light text-danger">Sita</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="p-4 border">
			<table class="table">
				<tbody>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">city</th>
						<td class="border border-2 border-info text-center bg-light text-danger"><%= @admission.city%><span class="text-dark">(dd/mm/yyyy)</span></td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Sex</th>
						<td class="border border-2 border-info text-center bg-light text-danger">M</td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">State</th>
						<td class="border border-2 border-info text-center bg-light text-danger"><%= @admission.state%></td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">peen</th>
						<td class="border border-2 border-info text-center bg-light text-danger"><%= @admission.peen%></td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">klass</th>
						<td class="border border-2 border-info text-center bg-light text-danger">(R)<%= @admission.klass%></td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Reg. No.</th>
						<td class="border border-2 border-info text-center bg-light text-danger">A/23/<%= @admission.id%></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="">
			<table class="table">
				<tbody>
					<tr>
						<th><%=@admission.name%></th>
					</tr>
					<tr>
						<td>
							<img src="/assets/pass/pass1.jpg" width="200px">
						</td>
					</tr>
					<tr>
						<th class="row text-light border-info border border-2 bg-secondary">Address</th>
						<td class="border border-2 border-info text-center bg-light text-danger"><%= @admission.address%></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<%= link_to "Back to Admission","/admissions", class: "btn btn-lg btn-outline-primary m-3"%>
	<%= link_to "Edit student",edit_admission_path, class: "btn btn-lg btn-primary m-3"%>
</div>

